<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>Welcome to Tenali TextUtility : Enter your text Belove</h1>

    <form action="/analyze" method="get">
        <textarea name="text" id="texti" cols="80" rows="0" style="height: 170px; width: 764px;">
        </textarea>
        <br>
        <label><input type="checkbox" name="check"> Remove Panchuations </label> <br>
        <label><input type="checkbox" name="uppercase"> UPPERCASE </label> <br>
        <label><input type="checkbox" name="newline"> New Line Remover </label> <br>
        <label><input type="checkbox" name="spacere"> Extra Space Remover </label> <br>
        <label><input type="checkbox" name="charcount"> charactor Counter </label> <br>
        <button type="submit">Analyze Text</button>
    </form>
    {% csrf_token %}

    <button style="width:150px;height:50px;border-radius:5px;border:none;margin:5px;" onclick="Loadplaylist()">Loadplaylist Now</button>
    <button style="width:150px;height:50px;border-radius:5px;border:none;margin:5px;" onclick="LoadVideo()">Load Video Now</button>

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script>
        function LoadVideo() {

            var url = '/videos/';
            let TokenCsrf = document.querySelector('input[name="csrfmiddlewaretoken"]')
            let dataurls = { 'url':'https://www.youtube.com/watch?v=AzIX3mMsw9A', 'csrfmiddlewaretoken': TokenCsrf.value }
            console.log('dataurls for extracting playlist videos : ', dataurls)

            $(() => {
                console.log("submiting playlist for extraction")
                $.ajax({
                    type: "POST",
                    url: url,
                    data: dataurls,
                    success: function (data) {
                        let playlistUrls = JSON.parse(data)
                        console.log("This is the video extracted data ", playlistUrls)
                    },
                    error: function (data) {
                        // Some error in ajax call 
                        // Some error in ajax call
                        console.log('<i class="bi fs-3 ">😫</i>')
                    }
                });

            });
        }
    
        function Loadplaylist() {

            var url = '/playlist/';
            let TokenCsrf = document.querySelector('input[name="csrfmiddlewaretoken"]')
            let dataurls = { 'videoid':'PLO7-VO1D0_6NmK47v6tpOcxurcxdW-hZa', 'csrfmiddlewaretoken': TokenCsrf.value }
            console.log('dataurls for extracting playlist videos : ', dataurls)

            $(() => {
                console.log("submiting playlist for extraction")
                $.ajax({
                    type: "POST",
                    url: url,
                    data: dataurls,
                    success: function (data) {
                        let playlistUrls = JSON.parse(data)
                        console.log("This is the playlist extracted urls ", playlistUrls)
                    },
                    error: function (data) {
                        // Some error in ajax call 
                        // Some error in ajax call
                        console.log('<i class="bi fs-3 ">😫</i>')
                    }
                });

            });
        }
    
    </script>

</body>

</html>